<form action="/Sendanyway/upload" method="GET">
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Upload File</button>
  </div>
</form>

<form action="/Sendanyway/download" method="GET">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Download File</button>
    </div>
  </form>

  <form action="/Sendanyway/shorten" method="GET">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Shorten Link</button>
    </div>
  </form>