<form action="/Sendanyway/shorten/request" method="POST">
    <div class="form-group">
      <label for="Shortlink">Short Link</label>
      <input name="link" type="text" class="form-control" id="shorten" placeholder="Enter Link">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>